@model TrabajosOnline.Models.Trabajos

@Html.Partial("MenuAdministrador")

<div class="dl-horizontal container pt-5 ">

    <div class="text-center">
        <h2 class="badge badge-secondary text-wrap mb-3" style="width: 30rem; font-size:30px;">@Html.DisplayFor(model => model.Categoria_Trabajos.Nombre)</h2>
    </div>

    <div class="border border-secondary rounded p-5">


        <div class="pb-2" style="display: flex;">
            <div style=" margin-right:8px;">
                <strong>Empresa</strong>
            </div>
            <div>
                @Html.DisplayFor(model => model.Empesa)
            </div>
        </div>


        <div class="pb-2" style="display: flex;">
            <div style=" margin-right:8px;">
                <strong>@Html.DisplayNameFor(model => model.Direccion)</strong>
            </div>
            <div>
                @Html.DisplayFor(model => model.Direccion)
            </div>
        </div>

        <div class="pb-2" style="display: flex;">
            <div style=" margin-right:8px;">
                <strong>@Html.DisplayNameFor(model => model.Estado)</strong>
            </div>

            <div>
                @Html.DisplayFor(model => model.Estado)
            </div>


        </div>


        <div>
            <strong>@Html.DisplayNameFor(model => model.Descripcion)</strong>
        </div>

        <div>
            @Html.DisplayFor(model => model.Descripcion)
        </div>

        <div>
            <strong>@Html.DisplayNameFor(model => model.condiciones)</strong>
        </div>

        <div>
            @Html.DisplayFor(model => model.condiciones)
        </div>

        <div>
            <strong><label>Nivel de estudios </label></strong>
        </div>

        <div>
            @Html.DisplayFor(model => model.Trabajos_habilidades.Nombre)
        </div>

        <div>
            <strong>@Html.DisplayNameFor(model => model.sueldo)</strong>
        </div>

        <div>
            @Html.DisplayFor(model => model.sueldo)
        </div>

        <div>
            <strong>@Html.DisplayNameFor(model => model.fecha_Publicacion)</strong>
        </div>

        <div>
            @Html.DisplayFor(model => model.fecha_Publicacion)
        </div>

        <div>
            <strong>@Html.DisplayNameFor(model => model.Beneficios)</strong>
        </div>

        <div>
            @Html.DisplayFor(model => model.Beneficios)
        </div>

        <div>
            <strong>@Html.DisplayNameFor(model => model.Credenciales)</strong>
        </div>

        <div>
            @Html.DisplayFor(model => model.Credenciales)
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        }

    </div>

</div>



